[Unit]
Description="sibench - SoftIron benchmarking facilitieas" 
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=sibench
RuntimeDirectoryPreserve=true
ExecStart=/usr/bin/sibench server

[Install]
WantedBy=multi-user.target
