#!/usr/bin/make -f
DH_VERBOSE = 1
clean:
	make clean
	rm -fr usr/bin debian/sibench
	mkdir -p usr/bin debian/sibench
build-arch:
	CGO_LDFLAGS="-s -w" make all
build-indep:
	cp bin/sibench usr/bin/
build: build-arch build-indep
binary-arch:
	true
binary-indep:
	true
binary: binary-arch binary-indep
	cp -a lib usr debian/sibench
	make man
	dh_installman
	dh_gencontrol
	dh_installdeb
	dh_builddeb
