#!/usr/bin/make -f
DH_VERBOSE = 1
clean:
	make clean
	rm -fr usr/bin debian/sibench
	mkdir -p usr/bin debian/sibench
build:
	make all
	cp bin/sibench usr/bin/
binary:
	cp -a lib usr debian/sibench
	dh_makeshlibs
	dh_gencontrol
	dh_builddeb
